# VSCode local settings
.vscode/
.vscode-dev/
*.log

# C build artifacts
*.o
*.out
*.a
*.so
*.exe

# Compiled language outputs
*.aby
demo

# Binaries
abyssc
abyss_vm

# Rust
std_rust/target/
Cargo.lock

# OS
.DS_Store
Thumbs.db
*.vsix

# tests old and kits
tests.old/
tests/expected/
toolkit_native
abysslang-linux-x64.tar.gz
